@media screen and (max-height: 870px) {
  #banner {
    background-image: url(../img/banner.jpg);
    background-size: 125%;
    background-position: center;
    width: 100vw;
    height: 200px;
  }
  
  #banner:hover {
    background-size: 130%;
    transition-duration: 1500ms;
  }
}

@media screen and (min-height: 871px) {
  #banner {
    background-image: url(../img/banner.jpg);
    background-size: 125%;
    background-position: center;
    width: 100vw;
    height: 300px;
  }
  
  #banner:hover {
    background-size: 130%;
    transition-duration: 1500ms;
  }
}

@media screen and (max-width: 750px) and (min-width: 641px) {
  #banner {
    background-image: url(../img/banner.jpg);
    background-size: 125%;
    background-position: center;
    width: 100vw;
    height: 180px;
  }
  
  #banner:hover {
    background-size: 130%;
    transition-duration: 1500ms;
  }
}

@media screen and (max-width: 640px) {
  #banner {
    width: 100vw;
    height: 180px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
  }
}

#enterName {
  width: 200px;
}

body {
  background-color: rgb(168, 191, 218);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  margin-top: 10px;
}

button:hover {
  transition: 0.5s;
}

.text {
  font-size: 5em;
}

.subtext {
  font-size: 20px;
}

.jumbotron {
  margin-bottom: 0px;
  width: 100vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jumbotron:hover {
  background-color: rgb(49, 236, 190);
  transition: 0.5s;
}

.container {
  margin-top: 20px;
  border-radius: 10px;
}

.container h3 {
  text-align: center;
  margin-bottom: 40px;
}

.resize {
  height: 230px;
  width: 250px;
  margin: 20px;
  border-radius: 80%;
}

#intro, .panel, .panel-heading {
  background-color: #333c49;
  opacity: 80%;
  color: white;
}

#intro:hover {
  box-shadow: 5px 8px 5px black;
  transition: 0.5s;
}

#introWords {
  color: white;
  background-color: teal;
}

#question1, #question2, #question3, #question4 {
  display: none;
}

#cSharp, #ruby, #python {
  display: none;
}

#output {
  display: block;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#output:hover {
  background-color: rgb(104, 167, 88);
  transition: 0.8s;
}

#footer {
  background-color: #333c49;
  opacity: 80%;
  color: white;
  border-radius: 5px;
}